DigitalBank.Aplicacion/Connected Services/ServiceDigitalBank/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalBank.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalBank.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioDTO" nillable="true" type="tns:ArrayOfUsuarioDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
</xs:schema>