DigitalBank.Aplicacion/Connected Services/ServiceDigitalBank/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52953/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52953/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52953/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalBank.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ListUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ListUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ListUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListUsuario" message="tns:IService1_ListUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListUsuarioResponse" message="tns:IService1_ListUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUsuario" message="tns:IService1_InsertUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUsuarioResponse" message="tns:IService1_InsertUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUsuario" message="tns:IService1_UpdateUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUsuarioResponse" message="tns:IService1_UpdateUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUsuario" message="tns:IService1_DeleteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUsuarioResponse" message="tns:IService1_DeleteUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ListUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52953/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>